.calendar {
    background-color: #555;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.days {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(7, 1fr);
}

.day {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
}

.month-year {
    color: grey;
}

.day:hover, .month-year:hover {
    background-color: grey;
}
