<mat-card class="calendar">
    <div class="nav-container">
        <button mat-icon-button class="nav-button" (click)="prevMonth()">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <span class="month-year">
            {{ currentDate.getDate() }}
            {{ currentDate | date: 'MMMM yyyy' | uppercase }}
        </span>
        <button mat-icon-button class="nav-button" (click)="nextMonth()">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </div>
    <div class="days">
        <div *ngFor="let day of daysInMonth" class="day" (click)="selectDay(day)">{{ day }}</div>
    </div>
</mat-card>
